body {
  counter-reset: h3counter;
  font-family: sans-serif;
  padding-bottom: 200px;
}

input[type=button], input[type=submit], button {
  padding: 0.5em;
  background-color: rgb(176, 228, 199);
  border-radius: 10px;
}

fieldset {
  border-color: #ccc;
  box-shadow: 3px 3px 8px #ccc;
  margin: 2em 1em;
}


.prime-circle {
  color: white;
  border-radius: 50%;
  width: 3em;
  padding: 1em 0;
  text-align: center;
  font-size: 200%;
  font-family: sans-serif;
  display: inline-block;
  margin-right: 1em;
}


.flags{
  border: solid black 2px;
  height: 200px;
  width: 320px;
}

/* .flag-container {
  display:flex;
  flex-direction:column=6;
  flex-wrap:wrap;
} */