{% extends 'base.html' %}

{% block title %}
<style>
  img{
    border: solid black 2px;
    height: 200 ;
  }
  /* div {display:flex;
  flex-direction:column;
  flex-wrap:wrap;
  } */
</style>

{% endblock %}

{% block body %}
<h1>All countries</h1>

<form action="/logout" method="POST">

  <button id='signIn' class='signInText'>Log Out</button>
  <script>
  "use strict";
    let button = document.querySelector('#signIn');

    function changeText() {
      if (button.innerHTML === 'Log In') {
        button.innerHTML = 'Log Out';
      }
      else if (button.innerHTML === 'Log Out') {
        button.innerHTML = 'Log In';
    }
  }

    signIn.addEventListener('click', changeText);
  </script>
</form>

<ul>
  {% for country in countries %}

  <li>
  <div>
    <a href="/countries/{{country.country}}">
  <p>{{country.country}}</p>

  <img title="{{country.country}}" src="/static/img/{{flags.get(country.country)}}.png">
</div>
</li>

  {% endfor %}
</ul>

<!-- <div class="hint">
  <div> -->

  {% for country in countries %}
  <a href="/countries/{{country.country}}"></a>
  {{country.country}}
 
  <img title="{{country.country}}" src="/static/img/{{flags.get(country.country)}}.png">
  
  {% endfor %}
<!-- 
</div>
</div> -->



{% endblock body %}
