{% extends 'base.html' %}

{% block title %}
<style>
  h1 {color:red;}
  img{
    border: solid black 2px;
    height: 200 ;
    
  }
  /* div {display:flex;
  flex-direction:column;
  flex-wrap:wrap;
  } */

</style>

{% endblock %}

{% block body %}
<h1>All countries</h1>


<h2>Logout</h2>
<form action="/logout" method="POST">
  <input type= 'submit'>  </input>
</form>


<ul>
  {% for country in countries %}

  <li>
  <div>
    <a href="/countries/{{country.country}}">
  <p>{{country.country}}</p>

  <img title="{{country.country}}" src="/static/img/{{flags.get(country.country)}}.png">
</div>
</li>

  {% endfor %}
</ul>


{% endblock body %}
