{% extends 'base.html' %}

{% block title %}
<style>
  h1 {color:red;}
  img{
    border: solid black 2px;
    height: 200 ;
    weight: 300;
    
  }
  /* div {display:flex;
  flex-direction:column;
  flex-wrap:wrap;
  } */

</style>

{% endblock %}

{% block body %}
<h1>All countries</h1>
<p>Logout
</p>

<ul>
  {% for country in countries %}

  <li>
  <div>
    <a href="/countries/{{country.country}}">
  <p>{{country.country}}</p>

  <img src="/static/img/{{flags.get(country.country)}}.png">
</div>
.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}


.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}
</style>
<body style="text-align:center;">

<div class="tooltip">"{{flags.get(country.country)}}.png"
  <span class="tooltiptext">{{country.country}}</span>
</div>
</li>

  {% endfor %}
</ul>

{% endblock body %}
