{% extends 'base.html' %}

{% block title %}{{ country }} - Details{% endblock %}

{% block body %}
<h1>{{ country}}</h1>
<p>
  Population is {{ population }}
</p>
<h2> COVID cases </h3>
  <table style = "width:100%">
    
  <tr>
    <th>Date</th>
    <th>Confirmed </th>
    <th>Recovered </th>
    <th>Deaths</th>
  </tr>
  {% for case in cases %}
  <tr>
   
    <td> {{case.date}}</td>
    <td> {{case.confirmed}}</td>
    <td>{{case.recovered}}</td>
    <td>{{case.deaths}}</td>
    
  </tr>
  {% endfor %}
 
</table>
 {% endblock %}
