{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block body %}
    <section id="description">
      <h1>Select countries</h1>
    </section>

    <section id="select-country">
      <h3>Select ID</h3>

      <p>
        Select the country name to see the cases
      </p>

      <form id="get-country">
      
        <label for="country-id">
          Select a country:
        </label>
        <select id="country-id" name="country-id">
          <option value="">Choose an country</option>
          {% for country in countries %}
            <option value="{{country.country}}"> {{country.country}} </option>
          {% endfor %}
        </select>
        <input type="submit">
      </form>
    </section>

    <section id="display-country">
      <h3>Country Info</h3>
      <dl>
        <dt>Country Name</dt>
        <dd id="country"></dd>

        <dt>Population</dt>
        <dd id="population"></dd>  
        
        <a class="link" href=''>View more details</a> 
      </dl>
    </section>
    <script src="/static/ajax.js"></script>


{% endblock body %}

