{% extends 'base.html' %}


{% block body %}
<h1>All countries</h1>

<ul>
  {% for country in countries %}

  <li>
  <div>
    <a href="/countries/{{country.country}}">
  <p>{{country.country}}</p>

  <img title="{{country.country}}" src="/static/img/{{flags.get(country.country)}}.png">
</div>
</li>

  {% endfor %}
</ul>

<!-- <div class="hint">
  <div> -->
<!-- 
  {% for country in countries %}
  <a href="/countries/{{country.country}}"></a>
  {{country.country}}
 
  <img title="{{country.country}}" src="/static/img/{{flags.get(country.country)}}.png">
  
  {% endfor %} -->
<!-- 
</div>
</div> -->



{% endblock body %}
